body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;

}
h1 {
    color: darkred;
    text-align: center;
    margin-bottom: 10px;
}

h2  {
    color: darkred;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;


}
ul li  {
 font-weight: bold;
 font-size: 1.1em;


}
ol li {
    font-weight: bold;
    font-size: 1.1em;;



}

img {
    max-width: 350px;
    height: auto;
    display: block;
    margin: 0 auto;

}

.jollof-img{
     max-width: 650px;

    }

a {
        color: black;
         text-decoration: none;
         font-weight: bold;
  }
  a:hover {
text-decoration: underline;

  }
  ul, ol {
    padding-left: 30px;
    margin-bottom: 20px;
  }

  li {

    margin-bottom: 8px;
  }